.DS_Store
.idea/
*.log
*.iml
.tern-port
yarn.lock
package-lock.json
node_modules/

example/node_modules/
example/Thumbs.db
example/db.json
example/*.log
example/node_modules/
example/public/
example/.deploy*/
